# COSC - Group Project

### Group 3

**Malcolm Nichols, Alaysia Cancer, Corey Young**

## Introduction
Using this Notebook, we have created a DFrame class called DFrame.py. The objective of this project is to demonstrate what the DFrame class can do.

In [1]:
%run -i DFrame.py

## Nonsense Dataset

Now we will test the DFrame class on an example of meaningless values. Start by creating the DFrame instance.

In [2]:
my_dict = {
 'x1': [12, 15, 18, 13, 15, 20],
 'x2': ['dog', 'aardvark', 'buffalo', 'cat', 'elephant', 'fish'],
 'x3': [1.8025, 4.61, 1.347, 4.7, 2.809, 3.6185]
}

df = DFrame(my_dict)

In [3]:
print(df.size)

[6, 3]

We will now test the sort_by() method.

In [4]:
print(df.sort_by('x1'))

| x1 | x2       | x3     |
--------------------------
| 12 | dog      | 1.8025 |
| 13 | cat      | 4.7    |
| 15 | aardvark | 4.61   |
| 15 | elephant | 2.809  |
| 18 | buffalo  | 1.347  |
| 20 | fish     | 3.6185 |

In [5]:
print(df.sort_by(0))

| x1 | x2       | x3     |
--------------------------
| 12 | dog      | 1.8025 |
| 13 | cat      | 4.7    |
| 15 | aardvark | 4.61   |
| 15 | elephant | 2.809  |
| 18 | buffalo  | 1.347  |
| 20 | fish     | 3.6185 |

In [6]:
print(df.sort_by('x3', reverse=True))

| x1 | x2       | x3     |
--------------------------
| 13 | cat      | 4.7    |
| 15 | aardvark | 4.61   |
| 20 | fish     | 3.6185 |
| 15 | elephant | 2.809  |
| 12 | dog      | 1.8025 |
| 18 | buffalo  | 1.347  |

We will now display the first 3 rows in the DFrame to confirm nothing has changed in the original DFrame.

In [7]:
print(df.head(3))

| x1 | x2       | x3     |
--------------------------
| 12 | dog      | 1.8025 |
| 15 | aardvark | 4.61   |
| 18 | buffalo  | 1.347  |

We will now test the filter() method.

In [8]:
print(df.filter('x2', '<', 'c'))

| x1 | x2       | x3    |
-------------------------
| 15 | aardvark | 4.61  |
| 18 | buffalo  | 1.347 |

In [9]:
print(df.filter('x2', '>', 'd'))

| x1 | x2       | x3     |
--------------------------
| 12 | dog      | 1.8025 |
| 15 | elephant | 2.809  |
| 20 | fish     | 3.6185 |

In [10]:
print(df.filter(0, '<=', 15))

| x1 | x2       | x3     |
--------------------------
| 12 | dog      | 1.8025 |
| 15 | aardvark | 4.61   |
| 13 | cat      | 4.7    |
| 15 | elephant | 2.809  |

In [11]:
print(df.filter(0, '>=', 15))

| x1 | x2       | x3     |
--------------------------
| 15 | aardvark | 4.61   |
| 18 | buffalo  | 1.347  |
| 15 | elephant | 2.809  |
| 20 | fish     | 3.6185 |

In [12]:
print(df.filter(0, '==', 15))

| x1 | x2       | x3    |
-------------------------
| 15 | aardvark | 4.61  |
| 15 | elephant | 2.809 |

We will now test the mean() method.

In [13]:
print(df.mean([0,2]))

| x1   | x3         |
---------------------
| 15.5 | 3.14783333 |

We will now test the add_row(), del_row(), add_col(), and del_col() methods.

In [14]:
df.add_row([14, 'gorilla', 3.142])
df.del_row(1)
df.del_row(1)
df.del_col('x3')
df.add_row([19, 'horse'])
df.add_col('x4', [12345, 123, 1234, 1, 123456, 12])
print(df)

| x1 | x2       | x4     |
--------------------------
| 12 | dog      | 12345  |
| 13 | cat      | 123    |
| 15 | elephant | 1234   |
| 20 | fish     | 1      |
| 14 | gorilla  | 123456 |
| 19 | horse    | 12     |

## Iris Dataset

We will now test the DFrame class on the Iris Dataset.

In [15]:
iris = read_file_to_dframe('iris.txt', [float, float, float, float, str], '\t')

print(iris.head())

| sepal_length | sepal_width | petal_length | petal_width | species    |
------------------------------------------------------------------------
| 5.5          | 4.2         | 1.4          | 0.2         | setosa     |
| 5.6          | 3.0         | 4.5          | 1.5         | versicolor |
| 7.2          | 3.6         | 6.1          | 2.5         | virginica  |
| 4.8          | 3.0         | 1.4          | 0.3         | setosa     |
| 5.5          | 2.4         | 3.8          | 1.1         | versicolor |
| 5.8          | 2.7         | 3.9          | 1.2         | versicolor |

We will now check the number of rows and columns in the Irish DFrame.

In [16]:
print(iris.size)

[150, 5]

We will now use mean to calculate the first five averages of the first four columns in the DFrame.

In [17]:
print(iris.mean([0,1,2,3]))

| sepal_length | sepal_width | petal_length | petal_width |
-----------------------------------------------------------
| 5.84333333   | 3.05733333  | 3.758        | 1.19933333  |

We will now use filter and mean methods to calculate the average value of the first four columns in the DFrame for each of the three species of flower.

In [18]:
print(iris.filter('species', '==', 'setosa').mean([0,1,2,3]))

| sepal_length | sepal_width | petal_length | petal_width |
-----------------------------------------------------------
| 5.006        | 3.428       | 1.462        | 0.246       |

In [19]:
print(iris.filter('species', '==', 'versicolor').mean([0,1,2,3]))

| sepal_length | sepal_width | petal_length | petal_width |
-----------------------------------------------------------
| 5.936        | 2.77        | 4.26         | 1.326       |

In [20]:
print(iris.filter('species', '==', 'virginica').mean([0,1,2,3]))

| sepal_length | sepal_width | petal_length | petal_width |
-----------------------------------------------------------
| 6.588        | 2.974       | 5.552        | 2.026       |

## Titanic Dataset

This will test the DFrame class on the titanic dataset.

In [21]:
titanic = read_file_to_dframe('titanic.txt', [int, int, str, str, float, float], '\t')

print(titanic.head(10))

| Survived | Pclass | Name                                               | Sex    | Age  | Fare    |
----------------------------------------------------------------------------------------------------
| 0        | 3      | Mr. Owen Harris Braund                             | male   | 22.0 | 7.25    |
| 1        | 1      | Mrs. John Bradley (Florence Briggs Thayer) Cumings | female | 38.0 | 71.2833 |
| 1        | 3      | Miss. Laina Heikkinen                              | female | 26.0 | 7.925   |
| 1        | 1      | Mrs. Jacques Heath (Lily May Peel) Futrelle        | female | 35.0 | 53.1    |
| 0        | 3      | Mr. William Henry Allen                            | male   | 35.0 | 8.05    |
| 0        | 3      | Mr. James Moran                                    | male   | 27.0 | 8.4583  |
| 0        | 1      | Mr. Timothy J McCarthy                             | male   | 54.0 | 51.8625 |
| 0        | 3      | Master. Gosta Leonard Palsson                      | male   | 2.0  | 21.075  |
| 1        | 3      | Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson   | female | 27.0 | 11.1333 |
| 1        | 2      | Mrs. Nicholas (Adele Achem) Nasser                 | female | 14.0 | 30.0708 |

We will now check the size of the row and columns in the titanic DFrame.

In [22]:
print(titanic.size)

[887, 6]

We will now use the sort_by method to determine the ages of the 10 youngest passengers on the titanic as well as the ages of the 10 oldest passengers of the titanic.

In [23]:
print(titanic.sort_by('Age').head(10))

| Survived | Pclass | Name                           | Sex    | Age  | Fare    |
--------------------------------------------------------------------------------
| 1        | 3      | Master. Assad Alexander Thomas | male   | 0.42 | 8.5167  |
| 1        | 2      | Master. Viljo Hamalainen       | male   | 0.67 | 14.5    |
| 1        | 3      | Miss. Helene Barbara Baclini   | female | 0.75 | 19.2583 |
| 1        | 3      | Miss. Eugenie Baclini          | female | 0.75 | 19.2583 |
| 1        | 2      | Master. Alden Gates Caldwell   | male   | 0.83 | 29.0    |
| 1        | 2      | Master. George Sibley Richards | male   | 0.83 | 18.75   |
| 1        | 1      | Master. Hudson Trevor Allison  | male   | 0.92 | 151.55  |
| 0        | 3      | Master. Eino Viljami Panula    | male   | 1.0  | 39.6875 |
| 1        | 3      | Miss. Eleanor Ileen Johnson    | female | 1.0  | 11.1333 |
| 1        | 2      | Master. Richard F Becker       | male   | 1.0  | 39.0    |

In [24]:
print(titanic.sort_by('Age',reverse = True).head(10))

| Survived | Pclass | Name                                | Sex  | Age  | Fare    |
-----------------------------------------------------------------------------------
| 1        | 1      | Mr. Algernon Henry Wilson Barkworth | male | 80.0 | 30.0    |
| 0        | 3      | Mr. Johan Svensson                  | male | 74.0 | 7.775   |
| 0        | 1      | Mr. Ramon Artagaveytia              | male | 71.0 | 49.5042 |
| 0        | 1      | Mr. George B Goldschmidt            | male | 71.0 | 34.6542 |
| 0        | 3      | Mr. Patrick Connors                 | male | 70.5 | 7.75    |
| 0        | 1      | Capt. Edward Gifford Crosby         | male | 70.0 | 71.0    |
| 0        | 2      | Mr. Henry Michael Mitchell          | male | 70.0 | 10.5    |
| 0        | 3      | Mr. Samuel Beard Risien             | male | 69.0 | 14.5    |
| 0        | 3      | Mr. James Webber                    | male | 66.0 | 8.05    |
| 0        | 2      | Mr. Edward H Wheadon                | male | 66.0 | 10.5    |

We will now determine the survival rate for female passengers on the titanic, as well as the male passengers.

In [25]:
print(titanic.filter('Sex', '==', 'female').mean([0]))

| Survived   |
--------------
| 0.74203822 |

In [26]:
print(titanic.filter('Sex', '==', 'male').mean([0]))

| Survived   |
--------------
| 0.19022688 |

We will now determine the survival rates for passengers in each of the three passenger classes on the titanic.

In [27]:
print(titanic.filter('Pclass', '==', 1).mean([0]))

| Survived   |
--------------
| 0.62962963 |

In [28]:
print(titanic.filter('Pclass', '==', 2).mean([0]))

| Survived   |
--------------
| 0.47282609 |

In [29]:
print(titanic.filter('Pclass', '==', 3).mean([0]))

| Survived   |
--------------
| 0.24435318 |