# COSC 130 - Homework 03

### Malcolm Nichols

## Problem 1: Calculating Exam Scores

In [1]:
correct = ['D', 'B', 'C', 'A', 'C', 'D', 'A', 'C', 'C', 'B', 'D', 'A', 'B', 'D', 'C', 'D', 'C', 'D', 'C', 'A', 'B', 'D', 'C',
           'B', 'A']
answers1 = ['A', 'B', 'C', 'A', 'B', 'D', 'A', 'A', 'C', 'B', 'D', 'A', 'D', 'C', 'C', 'B', 'C', 'D', 'B', 'A', 'D', 'D', 'C',
            'C', 'A']
answers2 = ['D', 'A', 'C', 'A', 'B', 'D', 'A', 'C', 'C', 'B', 'D', 'A', 'B', 'D', 'A', 'D', 'C', 'D', 'C', 'A', 'B', 'C', 'C',
            'B', 'A']
count1 = 0
count2 = 0

for i in range(len(correct)):
    if answers1[i] == correct[i]:
        count1 += 1
    if answers2[i] == correct[i]:
        count2 += 1

grade1 = (count1 / 25) * 100
grade2 =(count2 / 25) * 100

print(f"Student 1 Grade: {int(grade1)}%")
print(f"Student 2 Grade: {int(grade2)}%")

Student 1 Grade: 64%
Student 2 Grade: 84%

## Problem 2: Calculating Price of a Bulk Order

In [2]:
quantities = [84, 100, 126, 150, 186, 200, 216, 248]

for i in range(len(quantities)):
    if quantities[i] <= 100:
        cost = quantities[i] * 350
    elif quantities[i] <= 200:
        temp = 100 * 350
        cost = (quantities[i]-100)*300 + temp     
    elif quantities[i] > 200:
        temp = 100 * 350
        temp2 = 100 * 300
        cost = (quantities[i]-200)*250 + temp + temp2
    
    print(f"The cost for an order of {quantities[i]} widgets is ${int(cost)}.")

The cost for an order of 84 widgets is $29400.
The cost for an order of 100 widgets is $35000.
The cost for an order of 126 widgets is $42800.
The cost for an order of 150 widgets is $50000.
The cost for an order of 186 widgets is $60800.
The cost for an order of 200 widgets is $65000.
The cost for an order of 216 widgets is $69000.
The cost for an order of 248 widgets is $77000.

## Problem 3: Creating an Amortization Schedule

In [3]:
balance = 1000
i = 5 / 100
pmt = 150

n = 0
while balance > 0:
    balance = round(balance * (1 + i) - pmt, 2)
    n += 1
    if balance < 0:
        final = balance + pmt
        balance = 0
         
    print(f"The balance at the end of year {n} is ${balance:.2f}.")

The balance at the end of year 1 is $900.00.
The balance at the end of year 2 is $795.00.
The balance at the end of year 3 is $684.75.
The balance at the end of year 4 is $568.99.
The balance at the end of year 5 is $447.44.
The balance at the end of year 6 is $319.81.
The balance at the end of year 7 is $185.80.
The balance at the end of year 8 is $45.09.
The balance at the end of year 9 is $0.00.

In [4]:
print(f"The amount of the final payment will be ${final:.2f}.")

The amount of the final payment will be $47.34.

## Problem 4: Hailstone Sequences

In [5]:
n = 15
hs15 = [n]
while n != 1:
    if (n%2) == 0:
        n = int(n / 2)
        hs15.append(n)
    else:
        n = 3*n + 1
        hs15.append(n)
print(hs15)

n = 17
hs17 = [n]
while n != 1:
    if (n%2) == 0:
        n = int(n / 2)
        hs17.append(n)
    else:
        n = 3*n + 1
        hs17.append(n)
print(hs17)

n = 22
hs22 = [n]
while n != 1:
    if (n%2) == 0:
        n = int(n / 2)
        hs22.append(n)
    else:
        n = 3*n + 1
        hs22.append(n)
print(hs22)

[15, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]
[17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
[22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]

## Problem 5: Predator/Prey Model

In [6]:
r_pop = 1000
w_pop = 200

print("Year\t R_pop   W_pop")
print("----------------------")
print(f"{0:<9}{1000:<8}{200:<6}")

year = 1
while (r_pop > 0 and w_pop > 0):
    r_pop_prev = r_pop
    w_pop_prev = w_pop
    r_pop = round(1.5 * r_pop_prev - 0.002 * r_pop_prev * w_pop_prev)
    w_pop = round(0.8 * w_pop_prev + 0.0003 * r_pop_prev * w_pop_prev)
    if (r_pop < 0):
        r_pop = 0
    elif(w_pop < 0):
        w_pop = 0
    print(f"{year:<9}{r_pop:<8}{w_pop:<6}")
    year += 1

Year	 R_pop   W_pop
----------------------
0        1000    200
1        1100    220
2        1166    249
3        1168    286
4        1084    329
5        913     370
6        694     397
7        490     400
8        343     379
9        255     342
10       208     300
11       187     259
12       184     222
13       194     190
14       217     163
15       255     141
16       311     124
17       389     111
18       497     102
19       644     97
20       841     96
21       1100    101
22       1428    114
23       1816    140
24       2216    188
25       2491    275
26       2366    426
27       1533    643
28       328     810
29       0       728

## Problem 6: Finding a Root of a Polynomial Function

In [7]:
x1 = 3
x2 = 4
val1 = x1**3 - (4*x1**2) + (3 * x1) - 4
val2 = x2**3 - (4*x2**2) + (3 * x2) - 4
# print(val1,val2)

while (abs(val1-val2) > 0.00001):          
    new_x = (x1 + x2) / 2
    new_val = new_x**3 - (4*new_x**2) + (3 * new_x) - 4         
    if new_val > 0:
        x2 = new_x
        val2 = new_val
    elif new_val < 0:
        x1 = new_x
        val1 = new_val
#     print(x1, x2)      debug print statement, used to see the values
avg = (x1+x2)/2
print(f"The approximate solution is {avg:.4f}")

The approximate solution is 3.4675

## Problem 7: Grade Database

In [8]:
students = {
 146832:{'first':'Brendan', 'last':'Small'},
 147354:{'first':'Melissa', 'last':'Robbins'},
 149126:{'first':'Jason', 'last':'Penopolis'},
 149735:{'first':'Fenton', 'last':'Mulley'}
}

courses = {
 'ENGL 101':'Composition I',
 'ENGL 104':'Composition II',
 'MATH 117':'College Algebra',
 'MATH 151':'Calculus I',
 'CHEM 103':'General Chemistry I',
 'ECON 201':'Macroeconomics'
}

sid = [149126, 146832, 147354, 149735, 149126, 146832,
       146832, 149735, 149126, 147354, 147354, 149735]
cid = ['ENGL 101', 'MATH 117', 'ENGL 104', 'CHEM 103', 'MATH 117', 'ECON 201',
       'ENGL 101', 'ENGL 101', 'CHEM 103', 'ENGL 104', 'MATH 151', 'MATH 117']
grade = ['D', 'C', 'B', 'A', 'B', 'C',
         'A', 'F', 'B', 'A', 'A', 'C']

In [9]:
print(f"{'SID':<9}{'First':<10}{'Last':<12}{'CID':<11}{'Course Name':<22}{'Grade':>5}")
print("-"*69)

#looping over student id and getting values
for i in range(0,len(sid)):
    first_name = students[sid[i]]['first']
    last_name = students[sid[i]]['last']
    
    course_name = courses[cid[i]]
    
    print(f"{sid[i]:<9}{first_name:<10}{last_name:<12}{cid[i]:<11}{course_name:<22}{grade[i]:>5}")

SID      First     Last        CID        Course Name           Grade
---------------------------------------------------------------------
149126   Jason     Penopolis   ENGL 101   Composition I             D
146832   Brendan   Small       MATH 117   College Algebra           C
147354   Melissa   Robbins     ENGL 104   Composition II            B
149735   Fenton    Mulley      CHEM 103   General Chemistry I       A
149126   Jason     Penopolis   MATH 117   College Algebra           B
146832   Brendan   Small       ECON 201   Macroeconomics            C
146832   Brendan   Small       ENGL 101   Composition I             A
149735   Fenton    Mulley      ENGL 101   Composition I             F
149126   Jason     Penopolis   CHEM 103   General Chemistry I       B
147354   Melissa   Robbins     ENGL 104   Composition II            A
147354   Melissa   Robbins     MATH 151   Calculus I                A
149735   Fenton    Mulley      MATH 117   College Algebra           C

## Problem 8: Warehouse Inventory

In [10]:
prices = {'p101':37.52, 'p117':56.98, 'p122':43.72, 'p125':48.33, 'p126':52.45}

inventory = {
 'STL':{'p101':520, 'p117':315, 'p125':258, 'p126':345},
 'CHI':{'p117':864, 'p125':612},
 'KC':{'p101':264, 'p122':772, 'p125':467}
}

In [11]:
total_inv = {}
for prod_id, price in prices.items():
    total = 0
    for w_items in inventory.values():
        if prod_id in w_items.keys():
            quantity = w_items[prod_id]
            total += quantity * price  
    total_inv = {prod_id:total}
    for i, k in total_inv.items():
        print(f"{i}: ${k:.2f}")

p101: $29415.68
p117: $67179.42
p122: $33751.84
p125: $64617.21
p126: $18095.25